Package: com.lonewolf.jakeashacks.realcc
Name: RealCC
Depends: mobilesubstrate
Version: 0.0.5
Architecture: iphoneos-arm
Description: Actually disable WiFI and Bluetooth from CC in iOS 11. Modified by shino-996 & lone-wolf-akela.
Maintainer: Lone Wolf Akela
Author: Jake James
Section: Tweaks
